*~

bin/*


*.lex.*
*.grm.*
*.o
.deps
.libs
*.lo
*.la
*.mlton.grm
*.mlton.lex

urwebfmt

*.exe
*.chk
*.out

*.cache
*.log
*.status

*.sql
*mlmon.out

.depend
*.glob

xml/entities.sml

ar-lib
*.m4
m4/libtool.m4
m4/lt*.m4
config.*
configure
depcomp
compile
install-sh
ltmain.sh
missing

tests/*.db

syntax: regexp

libtool

# python files
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
